<?php
/**
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 */
?>
<!DOCTYPE html>
<html lang="<?php echo $this->getLang() ?>">
    <head>
        <?php echo $this->getChildHtml('head') ?>
    </head>
    <body<?php echo $this->getBodyClass() ? ' class="' . $this->getBodyClass() . '"' : '' ?>>
        <?php echo $this->getChildHtml('after_body_start') ?>
        <?php echo $this->getChildHtml('global_notices') ?>
        <?php echo $this->getChildHtml('header') ?>
        <div class="container">
            <?php echo $this->getChildHtml('global_messages') ?>
            <?php echo $this->getChildHtml('messages') ?>
            <?php echo $this->getChildHtml('breadcrumbs') ?>
            <div class="col-left sidebar col-md-3">
                    <?php echo $this->getChildHtml('left') ?>
            </div>
            <div class="col-main col-md-6">
                <?php echo $this->getChildHtml('content') ?>
            </div>
            <div class="col-right sidebar col-md-3">
                <?php echo $this->getChildHtml('right') ?>
            </div>
        </div>
        <?php echo $this->getChildHtml('footer') ?>
        <?php echo $this->getChildHtml('global_cookie_notice') ?>
        <?php echo $this->getChildHtml('before_body_end') ?>
        <?php echo $this->getAbsoluteFooter() ?>
    </body>
</html>