<?php
/**
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 */
?>
<?php if(count($this->getStores())>1): ?>
<ul class="nav navbar-nav">
    <?php foreach ($this->getStores() as $store): ?>
        <li<?php echo ($store->getId() == $this->getCurrentStoreId() ? ' class="active"' : '')?>>
            <a href="<?php echo $store->getCurrentUrl() ?>">
                <img src="<?php echo $this->getSkinUrl('images/flags/' . strtolower(substr(Mage::getStoreConfig('general/locale/code', $store->getId()), 3, 2)) . '.png') ?>"
                     alt="<?php echo $this->escapeHtml($store->getName()) ?>" title="<?php echo $this->escapeHtml($store->getName()) ?>">
            </a>
        </li>
    <?php endforeach; ?>
</ul>
<?php endif; ?>
