<?php
/**
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 */
?>
<div class="page-header">
    <h1><?php echo $this->getTitle() ?></h1>
</div>
<?php echo $this->getChildHtml() ?>
