<?php
/**
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 */
?>
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="<?php echo $this->getUrl('') ?>" title="<?php echo $this->getLogoAlt() ?>" class="navbar-brand">
                <img src="<?php echo $this->getLogoSrc() ?>" alt="<?php echo $this->getLogoAlt() ?>">
                <strong><?php echo $this->getLogoAlt() ?></strong>
            </a>
        </div>
        <div class="collapse navbar-collapse">
            <?php echo $this->getChildHtml('topMenu') ?>
            <div class="navbar-right">
                <?php echo $this->getChildHtml('topLinks') ?>
                <?php echo $this->getChildHtml('topSearch') ?>
                <?php echo $this->getChildHtml('store_language') ?>
            </div>
        </div>
    </div>
</div>
<?php echo $this->getChildHtml('topContainer'); ?>