<?php
/**
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 */
?>
<?php if ($this->displayNoscriptNotice()): ?>
    <noscript>
        <div class="alert alert-danger">
            <strong><?php echo $this->__('JavaScript seems to be disabled in your browser.'); ?></strong><br>
            <?php echo $this->__('You must have JavaScript enabled in your browser to utilize the functionality of this website.'); ?>
        </div>
    </noscript>
<?php endif; ?>
<?php if ($this->displayDemoNotice()): ?>
    <div class="alert alert-danger">
        <?php echo $this->__('This is a demo store. Any orders placed through this store will not be honored or fulfilled.') ?>
    </div>
<?php endif; ?>
